<h6>This is the restaurants_show index page</h6>
<br>
<br>
<br>


<h1><%= "#{@restaurant.name}" %></h1>
<h3> <%= "#{@restaurant.address}" %></h3>
<h4> <%= "#{@restaurant.category}" %> </h4>
<h5>  <%= "#{@restaurant.phone_number}" %> </h5>
<h5>  <% @restaurant.reviews.each do |review| %> </h5>
<h5>  <%= "#{review.content}" %> </h5>
<h5>  <%= "Rating: #{review.rating}" %> </h5>
<a> <%= link_to "Delete Review", review_path(review.id), method: :delete %></a>
<br>
<br>
<br>
  <% end %>

<% array = @restaurant.reviews.map do |review| %>
<% review.rating.to_i %>
  <% end %>
<h2><%= puts array %></h2>
<% average = (array.sum/array.size) %>

<h5>Average Rating:  <%="#{average}"  %>  </h5>
<hr>
<br>
<a > <%= link_to "Back to Restaurants", restaurants_path %></a> |
<a > <%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant) %></a> |
<a > <%= link_to "Leave a Review", new_restaurant_review_path(@restaurant) %></a> |
<a > <%= link_to "Delete Restaurant", restaurant_path(@restaurant), method: :delete %></a>
<br>
<br>